.carousel {
  text-align: center;
  background-color: rgb(204, 204, 204);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 30px 51px 30px;;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; 
  background-color: #f0f0f0;
  margin: 10px 50px;
  border-radius: 10px;
}
.content {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.controls button {
  padding: 5px 10px;
  background-color: #39393a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #828283;
}
