:root {
    --cor-texto: #333333;
    --cor-fundo: #bfc0c0;
    --cor-borda: rgba(0, 0, 0, 0.1);
    --cor-sombra: rgba(0, 0, 0, 0.2);
}

.titulo {
    text-align: center;
    background-color: var(--cor-fundo);
    padding: 10px;
    border-radius: 10px;
    margin: 0 52px;
    margin-top: 30px;
}

.palestrantes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--cor-fundo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--cor-borda);
    margin: 0 52px;
}

.palestrante {
    text-align: center;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--cor-borda);
    transition: box-shadow 0.3s ease;
    
}

.palestrante:hover {
    box-shadow: 0 4px 8px var(--cor-sombra);
}

.palestrante img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    color: var(--cor-texto);
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--cor-texto);
    padding: 0 10px;
}
